<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="map-container">
    <app-map></app-map>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!mostraFormCreazioneCache">
      <ion-fab-button (click)="creaCache()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="!mostraFormCreazioneCache">
      <ion-fab-button (click)="centerMap()">
        <ion-icon name="navigate-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Form di creazione della cache -->
    <ion-card *ngIf="mostraFormCreazioneCache">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="nomeCache"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descrizione</ion-label>
          <ion-input [(ngModel)]="descrizioneCache"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Foto</ion-label>
          <ion-button (click)="openCamera()">Fotocamera</ion-button>
        </ion-item>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="salvaCache(nomeCache, descrizioneCache, capturedPhoto)">Salva</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" (click)="annullaCreazioneCache()">Annulla</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card *ngIf="mostraDettagliCache" [style.visibility]='content_visibility'>
      <ion-card-header>
        <ion-label>{{ dettagliCache?.title }}</ion-label>
      </ion-card-header>

      <ion-card-content>

        <ion-item *ngIf="dettagliCache?.photo">
          <img *ngIf="dettagliCache && dettagliCache.photo && dettagliCache.photo.base64String"
               [src]="'data:image/jpeg;base64, ' + (dettagliCache.photo.base64String)" alt="Foto della cache">


          <ion-label *ngIf="!dettagliCache?.photo">Foto non caricata</ion-label>
        </ion-item>
        <ion-item>

          <ion-label class="cache-description">{{ dettagliCache?.description }}</ion-label>
        </ion-item>
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button shape="round" expand="full" class="ion-margin"
                        (click)="mostraDettagliCache = false">Chiudi</ion-button>
          </ion-col>
          <ion-col>
            <ion-button *ngIf="distanzaElevata" shape="round" expand="full" class="ion-margin" (click)="commentaCache()">Commenta</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="review" *ngIf="mostraCommento">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Inserisci il tuo commento</ion-label>
          <ion-textarea [(ngModel)]="testoCommento"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button shape="round" expand="full" class="ion-margin" (click)="salvaCommento()">Salva</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>


  </div>
</ion-content>
